.test {
  background-color: white;
  color: blue;
  font-size: 10px;
  cursor: pointer; }

.container-courses {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.container-courses > div {
  display: block;
  padding: 20px; }

.add-courses {
  display: block;
  text-decoration: none;
  width: 140px;
  height: 30px;
  border-radius: 3px;
  background: #0d6efd;
  color: white;
  justify-content: center;
  line-height: 30px; }

.table {
  width: 80%;
  text-align: center; }

.container-table {
  display: flex;
  justify-content: center; }
