<div class="container-form">
<form action="./create" method="post">
    <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" placeholder="Example input" name="title">
    </div>
     <label class="form-label">imageAddress</label>
    <input type="text" class="form-control" placeholder="Example input" name="imageAddress">
    </div>
    <div class="mb-3">
    <label class="form-label">description</label>
    <input type="text" class="form-control" placeholder="Another input" name="des">
    </div>
    <input type="submit">
</form>
</div>
