 <div class="search-form">
    <form method="GET" action="/news">
  <div class="mb-3">

        <label for="my-input" class="form-label">Tim kiem</label>
        <input type="text" class="form-control" name="q" placeholder="Nhap khoa ...">
        <div id="emailHelp" class="form-text">Nhap khoa ban muon tim kiem</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 </div>